
$blue-main:  rgb(46, 46, 122);
$blue-light: rgb(91, 91, 182);

$error-dark: rgb(139, 5, 5);
$error-main: red;
$error-light:  rgb(228, 85, 85);

$purple-main:  purple;
$purple-light: rgb(141, 47, 141);